body {
	background-image: url(img/Background.png);
	font-family: Cambria;
	padding: 0px;
	margin: 0px;
	color: #ffffff;
	font-size: 14px;
}

.header {
	position: fixed;
	top: 0%;
    width: 100%;
    height: 40px;
	background-color: #0d2329;
	color: #FFF;
    font-size: 20px;
	z-index: 1;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}



.main {
    /* position: relative; */
	/* top: 250px; */
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 100px;
    /* height: 100px; */
}

.main a {
	background-color: #fff;
	padding: 10px;
}

.opening {
	background-color: #162221ab;
	padding: 40px 30px 30px 30px;
	border-radius: 30px;
	height: auto;
	/* margin-bottom: 50px; */
}

.batas {
	height: 100px;
}

.opening h1 {
	color: rgb(137, 233, 148);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.opening p {
	color: white;
	font-size: 19px;
	font-family: 'Times New Roman', Times, serif;
	line-height: 150%;
}

.opening img {
	float: right;
	height: 180px;
	border: 5px solid rgba(255, 255, 255, 0);
	border-radius: 20px;
}

.footer {
    background-color: #0d2329;
	height: 30px;
	width: 100%;
	color: rgb(137, 233, 148);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	line-height: 30px;
    margin-top: 60px;
	position: fixed;
	bottom: 0px;
}

.grid {
    width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow: hidden;
}

.left {
	float: left;
	padding-left: 30px;
}

.right {
    float: right;
    padding-right: 100px;
}

/* Menu */
.topnav {
	overflow: hidden;
	background-color: #0d2329;
}

.topnav a {
	float: left;
	display: block;
	color: rgb(137, 233, 148);
	padding: 14px 16px;
	text-decoration: none;
	font-size: 14px;
}

.topnav a:hover {
	background-color: #183d48;
	color: azure;

}

.topnav .icon {
	display: none;
}

@media screen and (max-width: 720px) {
	.topnav a.not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
		width: auto;
	}
}

@media screen and (max-width: 720px){
	.topnav.responsive {position:relative;}
	.topnav.responsive .icon{
		position:absolute;
		right:0;
		top:0;
	}
	.topnav.responsive a{
		float:none;
		display:block;
		text-align:left;
	}
}

.question {
	background-color: #fff;
}

.dh1 {width: 8.33%;}
.dh2 {width: 16.66%;}
.dh3 {width: 24.99%;}
.dh4 {width: 33.33%;}
.dh5 {width: 41.66%;}
.dh6 {width: 49.99%;}
.dh7 {width: 58.33%;}
.dh8 {width: 66.66%;}
.dh9 {width: 74.99%;}
.dh10 {width: 83.33%;}
.dh11 {width: 91.66%;}
.dh12 {width: 99.99%;}

.dh1, .dh2, .dh3, .dh4, .dh5, .dh6, .dh7, .dh8, .dh9, .dh10, .dh11, .dh12 {
	float: left;
	display: inline;
	margin: 0 0%;
}

@media screen and (max-width: 720px) {
	.dh1, .dh2, .dh3, .dh4, .dh5, .dh6, .dh7, .dh8, .dh9, .dh10, .dh11, .dh12 {
		width: 100%;
		margin-bottom: -1em;
	}
}

.quest {
	margin-top: 70px;
}

.question {
	color: rgb(124, 121, 247);
	/* background-color: lime; */
	text-align: center;
	width: 50%;
	margin: 50px auto;
	padding: 10px;
}
.questionbox {
	background-color: rgb(137, 233, 148);
	font-size: 40px;
	line-height: 125%;
	font-family: sans-serif;
	padding: 20px;
}

.answerbox {
	height: 50px;
	line-height: 50px;
	background-color: salmon;
	padding: 10px;
}

form .form-radio{display:none;}
form .form-radio{padding-left:35px;}
form .form-radio{
    display:inline-block; 
    width:25px; 
    height:25px; 
    /* background:#fff;  */
	margin-right:5px; 
	margin-top: 10px;
    /* border:1px solid #ddd;  */
	border-radius:50%; -moz-border-radius:50%;
    transition:0.3s; -moz-transition:0.3s; -webkit-transition:0.3s; -khtml-transition:0.3s;}
form .form-radio:checked + label::before{
    background:#34A8BF; 
    border:5px solid #fff; 
    width:17px; 
	height:17px;
}

.tombol {
	margin: 50px auto;
	text-align: center;
}

.diag {
	margin: 10px auto;
	padding: 30px;
}

.diag:hover {
	background-color: rgb(124, 121, 247);
}