.header {
    position: fixed; 
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgb(17, 157, 57);
}

.header p {
    background-color: rgb(10, 134, 45);
    width: 15%;
    height: 50px;
    text-align: center;
    color: white;

}   

.sidebar {
    position: fixed;
    top: 50px;
    height: 100%;
    width: 15%;
    background-color: rgba(13, 17, 23, 1);
    overflow-x: hidden;
    text-align: center;
    float: left;
}

.mainbar {
    position: fixed;
    top: 50px;
    left: 15%;
    width: 85%;
}

.main {
    background-color: rgb(235, 235, 235);
    border-top: 1px solid rgb(10, 141, 47);
    margin: auto;
}

.list {
    font-family: sand-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.list tr th {
    background: #48e770;
    color: #fff;
    font-weight: normal;
    padding: 10px;
}

.list td {
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.list, th, td {
    padding: 8px 20px;
    text-align: center;
}

.list tr:hover {
    background-color: #37743a;
    color: white;
}

.list .btn {
    padding: 9px 9px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 5px;
	font-family: Cambria;
	font-size: 14px;
	margin-top: 10px;
	width: auto;
}

.list .btn-on {
    color: #FFF;
    background-color: salmon;
	cursor: pointer;
}

.list .btn-on:hover {
	background-color: #4E9A9A;
}

.footer {
    background-color: rgb(17, 157, 57);
    height: 30px;
    line-height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}















.clear {
    clear: both;
}

/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}